mysql -u <user> -p<password> <database> < ./scripts/01_attributes.sql
mysql -u <user> -p<password> <database> < ./scripts/02_ee.sql
mysql -u <user> -p<password> <database> < ./scripts/03_cms.sql
mysql -u <user> -p<password> <database> < ./scripts/04_catalogrule.sql
mysql -u <user> -p<password> <database> < ./scripts/05_salesrule.sql
mysql -u <user> -p<password> <database> < ./scripts/06_category.sql
mysql -u <user> -p<password> <database> < ./scripts/07_product.sql
mysql -u <user> -p<password> <database> < ./scripts/08_cataloginventory.sql
mysql -u <user> -p<password> <database> < ./scripts/09_customer.sql
mysql -u <user> -p<password> <database> < ./scripts/10_quote.sql
mysql -u <user> -p<password> <database> < ./scripts/11_sales.sql
mysql -u <user> -p<password> <database> < ./scripts/12_wishlist.sql
